<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A01793469/blob/main/A01793469_Semana2_Actividad1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
from google.colab import drive
drive.mount('/content/drive')
example1 = "/content/drive/My Drive/CdD - Semana 2 - Actividad 1/example1.txt"
with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
This is line 1
This is line 2
This is line 3

In [26]:
with open(example1, "r") as file1:
    FileasList = file1.readlines()
print(FileasList[0])

This is line 1

In [27]:
print(FileasList[1])

This is line 2

In [28]:
print(FileasList[2])

This is line 3

In [29]:
example2 = "/content/drive/My Drive/CdD - Semana 2 - Actividad 1/example2.txt"
with open(example1,'r') as readfile:
    with open(example2,'w') as writefile:
          for line in readfile:
                writefile.write(line)

In [36]:
#Run this prior to starting the exercise
from random import randint as rnd

memReg = '/content/drive/My Drive/CdD - Semana 2 - Actividad 1/members.txt'
exReg = '/content/drive/My Drive/CdD - Semana 2 - Actividad 1/inactive.txt'
fee =('yes','no')

def genFiles(current, old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

In [38]:
'''
The two arguments for this function are the files:
    - currentMem: File containing list of current members
    - exMem: File containing list of old members
    
    This function should remove all rows from currentMem containing 'no' 
    in the 'Active' column and appends them to exMem.
    '''
def cleanFiles(currentMem, exMem):
    # TODO: Open the currentMem file as in r+ mode
        #TODO: Open the exMem file in a+ mode

        #TODO: Read each member in the currentMem (1 member per row) file into a list.
        # Hint: Recall that the first line in the file is the header.

        #TODO: iterate through the members and create a new list of the innactive members

        # Go to the beginning of the currentMem file
        # TODO: Iterate through the members list. 
        # If a member is inactive, add them to exMem, otherwise write them into currentMem
    with open(currentMem, 'r') as members:
      with open(exMem, 'a') as exmembers:
          members_list = members.readlines()
          current_members = [members_list[0]]
          for member in members_list[1:]:
            if 'no' in member:
              exmembers.write(member)
            else:
              current_members.append(member)
    with open(currentMem, 'w') as members_w:
      for current_member in current_members:
        members_w.write(current_member)

# The code below is to help you view the files.
# Do not modify this code for this exercise.
memReg = '/content/drive/My Drive/CdD - Semana 2 - Actividad 1/members.txt'
exReg = '/content/drive/My Drive/CdD - Semana 2 - Actividad 1/inactive.txt'
print('Before')
headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

cleanFiles(memReg,exReg)

print('After')
headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Before
Active Members:


Membership No  Date Joined  Active
    52282      2017-10-8    yes
    96518      2015-9-13    yes
    32080      2018-12-14   yes
    50071      2020-7-16    yes
    87543      2019-7-2     yes
    37132      2016-6-22    yes
    49527      2016-11-16   yes

Inactive Members:


Membership No  Date Joined  Active
    47406      2019-10-16   no
    65951      2017-7-13    no
    35781      2017-8-17    no
    31947      2019-7-22    no
    73666      2020-11-19   no
    75874      2018-8-3     no
    27625      2017-11-22   no
    29113      2019-8-21    no
    99034      2018-4-25    no
    95181      2020-10-18   no
    89116      2016-5-21    no
    64734      2019-2-17    no
    37700      2018-9-21    no
    51699      2017-5-3     no
    39703      2019-11-5    no
    11576      2016-8-18    no

After
Active Members:


Membership No  Date Joined  Active
    52282      2017-10-8    yes
    96518      2015-9-13    yes
    32080      2018-12-14   yes
    50071      2020-7-16    yes
    87543      2019-7-2     yes
    37132      2016-6-22    yes
    49527      2016-11-16   yes

Inactive Members:


Membership No  Date Joined  Active
    47406      2019-10-16   no
    65951      2017-7-13    no
    35781      2017-8-17    no
    31947      2019-7-22    no
    73666      2020-11-19   no
    75874      2018-8-3     no
    27625      2017-11-22   no
    29113      2019-8-21    no
    99034      2018-4-25    no
    95181      2020-10-18   no
    89116      2016-5-21    no
    64734      2019-2-17    no
    37700      2018-9-21    no
    51699      2017-5-3     no
    39703      2019-11-5    no
    11576      2016-8-18    no

In [40]:
import pandas as pd
csv_path = '/content/drive/My Drive/CdD - Semana 2 - Actividad 1/TopSellingAlbums.csv'
df = pd.read_csv(csv_path)
df

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0
5,Eagles,Their Greatest Hits (1971-1975),1976,0:43:08,"rock, soft rock, folk rock",32.2,42,17-Feb-76,NaN,7.5
6,Bee Gees,Saturday Night Fever,1977,1:15:54,disco,20.6,40,15-Nov-77,Y,7.0
7,Fleetwood Mac,Rumours,1977,0:40:01,soft rock,27.9,40,04-Feb-77,NaN,6.5

In [42]:
q = df[['Rating']]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

In [47]:
q = df[['Released', 'Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

In [48]:
df.iloc[1, 2]

1980

In [50]:
import numpy as np
new_index=['a','b','c','d','e','f','g','h']
df_new = df.set_index(np.array(new_index))
df_new

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
a,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
b,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
c,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
d,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
e,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0
f,Eagles,Their Greatest Hits (1971-1975),1976,0:43:08,"rock, soft rock, folk rock",32.2,42,17-Feb-76,NaN,7.5
g,Bee Gees,Saturday Night Fever,1977,1:15:54,disco,20.6,40,15-Nov-77,Y,7.0
h,Fleetwood Mac,Rumours,1977,0:40:01,soft rock,27.9,40,04-Feb-77,NaN,6.5

In [51]:
df_new.loc['a', 'Artist']

'Michael Jackson'

In [52]:
df_new.loc['a':'d', 'Artist']

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object